* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header section Style */

header {
    height: 100vh;
    background-color: rgba(229, 84, 115, 10%);
    margin-bottom: 180px;
}

/* Hero Section Style */

.heroWraper {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.hero_title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.hero_description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 70%;
}

.btn {
    padding: 16px 36px;
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.hero-right {
    display: flex;
    align-self: flex-end;
}

/* Feature Section Style */

.featureWraper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
}

.feature-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature_title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.feature_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 40%;
    margin: auto;
}


/* Flower Card Style */

.flower_img_one {
    background-image: url('../Asset/pngwing6.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.flower_img_two {
    background-image: url('../Asset/pngwing5.png');
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.flower_img_three {
    background-image: url('../Asset/pngwing7.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.flower-card-wraper {
    display: flex;
    gap: 70px;
}

.flower-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.flower-card p {
    text-decoration: underline;
}

/* Service Section Style */

.serviceWraper {
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
    padding: 80px 120px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin-bottom: 120px;
}

.service-card-wraper {
    display: flex;
    justify-content: space-around;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.service_name {
    color: rgba(39, 39, 39, 0.80);
    font-size: 22px;
    font-weight: 400;
}

/* Deal Section Style */

.dealWraper {
    margin-bottom: 120px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 150px;
}

.deal-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.deal_name {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}


.deal_description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.special-text {
    color: #E55473;
}

/* Social Section Style */

.socialWraper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.social_title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.social_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 40%;
    margin: auto;
}

.social-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flowwer-card-container {
    display: flex;
    gap: 56px;
}

/* Sales Section Style */

.salesWraper {
    height: 100vh;
    width: 80%;
    margin: auto;
    margin-bottom: 120px;

}

.sales-up {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.sale_title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sale_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    max-width: 40%;
    margin: auto;
}


.sales_img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

.sales-card {
    width: 300px;
    height: 380px;
}

.sale_price {
    text-align: center;
    margin-bottom: 10px;
}

.sales_information {
    text-align: center;
}

.sales-card {
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.sales-card-wraper {
    display: flex;
    gap: 9px;
    margin-bottom: 10px;
}


/* User Subscribe Section style */

.subsWraper {
    width: 80%;
    margin: auto;
    background-image: url("../Asset/Rectangle9.png");
    padding: 150px 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}


.subs_title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.subs_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 40%;
    margin: auto;
}

.subs-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.sub-input-container {
    display: flex;
    align-items: center;
}

.subsWraper input {
    padding: 16px 36px;
    border-radius: 8px;
    border: none;
    background: #FFF;
    color: #27272799;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

.subsWraper input:focus {
    border: none;
    outline: 1.5px solid #272727ce;
}

.subs-btn-container {
    display: flex;
    gap: 10px;
}